html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

#background {
    width: 100%;
}

#question {
    font-family: arial, helvetica, sans-serif;
    font-size: 24px;
    position: absolute;
    width: 600px;
    left: 50%;
    margin-left: -300px;
    margin-top: 16%;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    text-align: center;
    padding-top: 2em;
    padding-left: 2em;
    padding-right: 2em;
    padding-bottom: 2em;
}
