<!DOCTYPE html>
<html ng-app="caterhamApp" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Build Your Own Caterham</title>

    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" />
    <link href="assets/bootstrap.css" rel="stylesheet" />
    <link href="assets/bootstrap.theme.css" rel="stylesheet" />
    <link href="style.css" rel="stylesheet" />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1><img class="img-responsive center-block" src="images/caterham-cars.png" alt="Caterham Cars" /></h1>
        </div>
      </div>

      <div ng-controller="ProgressController">
        <ol class="breadcrumb">
          <li ng-class="{ active: state.view == 'model' }">
            <a ng-click="select('model');" href="#">Model</a>
          </li>
          <li ng-class="{ active: state.view == 'pack' }">
            <a ng-click="select('pack');" href="#">Pack</a>
          </li>
          <li ng-class="{ active: state.view == 'options' }">
            <a ng-click="select('options');" href="#">Options</a>
          </li>
          <li ng-class="{ active: state.view == 'summary' }">
            <a ng-click="select('summary');" href="#">Summary</a>
          </li>
        </ol>
      </div>

      <div ng-controller="ModelController" ng-show="state.view == 'model'" class="row">
        <div class="col-xs-12">
          <h2>Step 1: Select Your Model</h2>
        </div>
        <div ng-repeat="model in models" class="col-xs-12 col-sm-6 col-lg-3">
          <div class="well">
            <h3 class="text-center">
              <img class="img-responsive center-block" ng-src="images/{{ model.number }}-text.png" alt="" style="filter: invert(100%); padding: 0.5em;" />
            </h3>
            <img class="img-responsive center-block" ng-src="images/{{ model.number }}.png" alt="" />
            <ul>
              <li>{{ model.engine }}</li>
              <li>0-60 MPH in {{ model.zeroToSixty }}s</li>
              <li>Top speed {{ model.topSpeed }} MPH</li>
              <li>{{ model.bhp }} BHP</li>
            </ul>
            <button ng-click="select(model.number)" class="themed-button">
              £{{ model.cost | number: 0 }}
            </button>
          </div>
        </div>
      </div>

      <div ng-controller="PackController" ng-show="state.view == 'pack'" class="row">
        <div class="col-xs-12">
          <h2>Step 2: Upgrade Pack</h2>
        </div>
        <div class="col-xs-12">
          <button ng-click="select('7')" class="btn btn-primary center-block">
            No upgrade pack
          </button>
          <br />
        </div>
        <div ng-repeat="pack in packs" class="col-xs-12 col-sm-6">
          <div class="well">
            <div class="height-align" data-align-group="pack-header">
              <h3 class="text-center"><strong>{{ pack.name }} Pack</strong></h3>
              <h4 class="text-center">{{ pack.description }}</h4>
              <br />
            </div>
            <div class="height-align" data-align-group="pack-features">
              <div class="row">
                <div class="col-xs-12 col-sm-8 col-md-6">
                  <ul>
                    <li ng-repeat="feature in pack.features">{{ feature }}</li>
                  </ul>
                </div>
                <div class="col-xs-offset-2 col-xs-8 col-sm-offset-0 col-sm-4 col-md-6">
                  <img ng-src="images/{{ pack.name }}-pack.jpg" alt="" class="img-responsive" style="border: 1px solid green;" />
                </div>
              </div>
              <br />
            </div>
            <button ng-click="select(pack.name)" class="themed-button">
              £{{ pack.cost | number: 0 }}
            </button>
          </div>
        </div>
      </div>

      <div ng-controller="OptionsController" ng-show="state.view == 'options'" class="row options">
        <div class="col-xs-12">
          <h2>Step 3: Select Your Options</h2>
        </div>
        <div class="col-xs-12">
          <ul class="nav nav-pills">
            <li ng-repeat="section in sections" role="presentation" ng-class="{ active: isSection($index) }">
              <a href="#" ng-click="moveSection($index);">{{ section.label }}</a>
            </li>
          </ul>
          <br />
        </div>
        <div ng-repeat="section in sections" ng-show="isSection($index)" class="col-xs-12 row">
          <div ng-repeat="option in section.options" class="col-xs-12 col-md-6">
            <div class="col-xs-12">
              <div class="well">
                <h3>{{ option.label }}</h3>
                <div class="alert alert-success" ng-show="isStandard(option)">
                  {{ option.standardMessage }}
                </div>
                <div class="alert alert-warning" ng-show="!isAvailable(option) && !isStandard(option)">
                  {{ option.unavailableMessage }}
                </div>
                <div class="list-group" ng-show="isAvailable(option) && !isStandard(option)">
                  <button
                    ng-repeat="choice in option.choices"
                    ng-click="choose($index, option)"
                    ng-class="{ active: isChosen($index, option), disabled: isDisabled($index, option) }"
                    ng-disabled="isDisabled($index, option)"
                    type="button" class="list-group-item" onclick="$(this).blur()"
                    data-toggle="tooltip"
                    data-placement="{{ $first ? 'top' : ($last ? 'bottom' : 'right') }}"
                    title="{{ choice.description }}"
                  >
                    {{ choice.label }}
                    <span ng-if="choice.map[state.pack] > 0" class="pull-right">
                      £{{ choice.map[state.pack] | number: 0 }}
                    </span>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xs-12">
          <div class="footer-padding"></div>
        </div>
      </div>

      <div ng-controller="SummaryController" ng-show="state.view == 'summary'" class="row">
        <div class="col-xs-12">
          <h2>Your Summary</h2>
        </div>
        <div class="col-xs-12">
          <table class="table table-striped table-responsive">
            <thead>
              <tr>
                <th>Category</th>
                <th>Option</th>
                <th>Choice</th>
                <th>Cost</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th>Model</th>
                <td>Base</td>
                <td>Seven {{ state.model }}</td>
                <td class="text-right">£{{ logic.modelCost() | number: 0 }}</td>
              </tr>
              <tr>
                <th></th>
                <td>Pack</td>
                <td>{{ state.pack }}</td>
                <td class="text-right">£{{ logic.packCost() | number: 0 }}</td>
              </tr>
            </tbody>
            <tbody ng-repeat="section in sections">
              <tr ng-repeat="option in section.options">
                <th>
                  <span ng-if="$first">{{ section.label }}</span>
                </td>
                <td>{{ option.label }}</td>
                <td>{{ option.choices[option.chosen].label }}</td>
                <td class="text-right">
                  <span ng-if="option.choices[option.chosen].map[state.pack] > 0" class="pull-right">
                    £{{ option.choices[option.chosen].map[state.pack] | number: 0 }}
                  </span>
                  <span ng-if="option.choices[option.chosen].map[state.pack] == 0">
                    {{ option.choices[option.chosen].map['7'] == 0 ? '-' :  state.pack + ' pack' }}
                  </span>
                </td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th class="text-right" colspan="3">Total</th>
                <th class="text-right">£{{ logic.modelCost() + logic.packCost() + logic.optionsCost() | number: 0 }}
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>

    <div ng-controller="FooterController" ng-show="state.view == 'options'" class="footer">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <table class="pull-left" style="margin: 0px; font-weight: 600;">
              <tr>
                <td>Cost of Extras&nbsp;</td>
                <td class="text-right">£{{ logic.optionsCost() + logic.packCost() | number: 0 }}</td>
              </tr>
              <tr>
                <td>Total Cost&nbsp;</td>
                <td class="text-right">£{{ logic.modelCost() + logic.optionsCost() + logic.packCost() | number: 0 }}</td>
              </tr>
            </table>
            <button ng-click="state.view = 'summary';" class="btn btn-primary pull-right">
              View Summary
            </button>
          </div>
        </div>
      </div>
    </div>

    <script src="assets/jquery.js"></script>
    <script src="assets/bootstrap.js"></script>
    <script src="assets/angular.js"></script>
    <script src="app.js"></script>
    <script src="app.models.js"></script>
    <script src="app.packs.js"></script>
    <script src="app.sections.js"></script>
    <script src="app.resize.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
      });
    </script>
  </body>
</html>